<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Line Item</title>
</head>
<body>
 <form th:object="${lineItem}" method="POST">
 <div> 
 <input type="hidden" th:field=${lineItem.id}/>
 <label> Item Name:</label>
 <input type=text th:field="${lineItem.name}" />
 </div>
 <div>
 <label> Item Description:</label>
 <input type=text th:field="${lineItem.description}" />
 </div>
 <div>
 <label> Item quantity:</label>
 <input type=text th:field="*{quantity}" />
 </div>
 <div>
 <label> Item unit:</label>
 <span th:text=${unit}></span>
 </div>
 <input type="hidden" th:value=*{price}/>
 <input type="hidden" th:value=*{total}/>
<input type="submit" value="save">
 </form>
</body>
</html>