<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Your Dashboard</title>
</head>
<body>
	<table>
		<h1> Open order Details for : <span th:text="${flatnumber}">flatnumber</span></h1>
		<tr>
			<th>Order Id</th>
			<th>Order Date</th>
			<th>Order Remarks</th>
			<th>Order Status</th>
		</tr>
		<tr th:each="order: ${orders}">
			<td> <a th:href="@{/orders/__${order.id}__}" th:text="${order.id}">orderId</a> </td>
			<td th:text="${order.orderDate}"></td>
			<td th:text="${order.remarks}"></td>
			<td th:text="${order.status}"></td>
			<td> <a th:href="@{/editOrder(orderId=${order.id})}">Edit </a> </td>
		</tr>
	</table>


</body>
<div th:insert="~{footer}"></div>
</html>