<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Order Content Details</title>
</head>
<body>
	<table>
		<h1> Open order Details for : <span th:text="${flatnumber}">flatnumber</span></h1>
		<tr>
			<th>Item Id</th>
			<th>Item Name</th>
			<th>Item Description</th>
			<th>Item Quantity</th>
			<th>Item Unit</th>
			<th>Item Price</th>
			<th>Item Total</th>
		</tr>
		<tr th:each="item: ${orderlineitems}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.description}"></td>
			<td th:text="${item.quantity}"></td>
			<td th:text="${item.unit}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.total}"></td>
			<td><a th:href=@{/lineitems/__${item.id}__}>Edit</a> </td>
		</tr>
	</table>


</body>
<div th:insert="~{footer}"></div>

</html>